:root {
    --lighter: rgb(41, 41, 41);
    --darker: rgb(24, 24, 24);
    --text-second: rgb(0,0,0);
    --text-first: rgb(255,255,255);
    --shadow: rgb(0,0,0);
    --secondary: rgb(249, 160, 27);
    --primary: rgb(152, 0, 46);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lighter);
    font-family: 'Bebas Neue', cursive;   
}

/* ---- HEADER ---- */

header {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--darker);
    color: var(--text-first);
    box-shadow: 0px 0px 15px 0px var(--shadow);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1300px;
}

#mia-logo {
    width: 80px;
}

#color-mode-container{
    position: relative;
}

#theme-mode {
    position: relative;
    bottom: 4px;
    right: 4px;
}

header button {
    cursor: pointer;
    outline-width: 5px;
    position: relative;
    border-radius: 40px;
    background-color: var(--darker);
    border: solid 2px var(--primary);
    width: 55px;
    height: 30px;
}

.icon {
    display: block;
    position: relative;
    content: "";
    background-color: var(--primary);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

/* ---- FILTERS ---- */

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    padding: 0 50px;
    max-width: 1300px;
}

#query, #position {
    display: block;
    background-color: var(--text-first);
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--darker);
    color: var(--text-first);
}

/* ---- PLAYERS CARDS ---- */

#roster-container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1300px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    list-style: none;
}

.player-photo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(70%);
    aspect-ratio: 160/115;
    width: 140%;
    z-index: 1;
}

.player-card:hover .player-photo {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    animation-name: playerColor;
    animation-duration: 0.3s;
}

@keyframes playerColor {
    0% {
        filter: grayscale(60%);
    }
    25% {
        filter: grayscale(45%);
    }
    50% {
        filter: grayscale(30%);
    }
    75% {
        filter: grayscale(15%);
    }
    100% {
        filter: grayscale(00%);
    }
}

li {
    overflow: hidden;
}

li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-first);
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
}

.player-card {
    height: 100%;
    border-radius: 10px;
    background-color: var(--darker);
    font-family: 'Bebas Neue', cursive;   
}

.player-name {
    padding-top: 20px;
    font-size: 30px;
}

.player-position {
    margin-bottom: 20px;
    font-size: 20px;
}

.player-jersey {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 60px;
    color: var(--lighter);
}

.card-text-container {
    background-color: var(--primary);
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.player-card:hover .player-jersey {
    color: var(--text-first);
    animation-name: colorChangeJersey;
    animation-duration: 0.7s;
}

@keyframes colorChangeJersey {
    from {color: var(--lighter);}
    to {color: var(--text-first)}
}

.player-card:hover .card-text-container {
    background-color: var(--secondary);
    color: var(--darker);
    animation-name: colorChangeCardText;
    animation-duration: 0.7s;
}

@keyframes colorChangeCardText {
    from {color: var(--text-first);}
    to {color: var(--darker)}
    from {background-color: var(--primary)};
    to {background-color: var(--secondary)};
}

/* ---- LIGHT MODE ---- */

body.light {
    --lighter: rgb(255, 255, 255);
    --darker: rgb(238, 238, 238);
    --text-second: rgb(255,255,255);
    --text-first: rgb(0,0,0);
    --shadow: rgb(153, 153, 153);
    --secondary: rgb(152, 0, 46);
    --primary: rgb(249, 160, 27);
}

body.light .icon {
    transform: translateX(25px);
}

/* ---- DARK MODE ---- */

body.dark {
    --lighter: rgb(41, 41, 41);
    --darker: rgb(24, 24, 24);
    --text-second: rgb(0,0,0);
    --text-first: rgb(255,255,255);
    --shadow: rgb(0,0,0);
    --secondary: rgb(249, 160, 27);
    --primary: rgb(152, 0, 46);
}

body.dark .icon {
    transform: translateX(0px);
}

/* ---- MEDIA QUERIES ---- */

@media only screen and (max-width: 1100px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 830px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 550px) {
    
    .header-content, .filters {
        flex-direction: column;
    }

    #query {
        margin-bottom: 10px;
    }
    
    ul {
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --lighter: rgb(255, 255, 255);
        --darker: rgb(238, 238, 238);
        --text-second: rgb(255,255,255);
        --text-first: rgb(0,0,0);
        --shadow: rgb(153, 153, 153);
        --secondary: rgb(152, 0, 46);
        --primary: rgb(249, 160, 27);
    }

    .icon {
        transform: translateX(25px);
    }
};